[2020-06-22 13:26] venkatx5 commented on #287
Any solution for this error?

[2020-06-22 18:35] srinaath commented on #290
@compulim Is this something you can look at?

[2020-06-22 18:37] srinaath commented on #287
@swagatmishra2007 Could you take a look at this ticket?

[2020-06-22 23:46] cwhitten commented on #289
@stevengum are you able to look at this?

[2020-06-22 23:47] compulim commented on #288
@xtianus79 what bundler are you using? I am guessing it is not Webpack, so it don't turn `crypto`/`http`/`stream` into `node-libs-browser`.

@stevengum I think we need to take away Node.js dependencies from `botframework-streaming`.

[2020-06-22 23:50] compulim commented on #290
@xtianus79 can you take a screenshot on the Network Tab on HTTP server response? You may see the error message from server response.

The `WebSocket.error` event don't have lots of information about the error.

[2020-06-23 15:18] fedsp commented on #287
Freshstart using react and bot framework directline (it is working well using a legacy webchat), same error. Does anyone has an update?

[2020-06-23 18:27] anusharavindrar commented on #275
@shunyh, thanks for the details. We will investigate it on our end with the provided details.

[2020-06-23 19:23] stevengum commented on #289
I'll take a look, @xtianus79 which versions of TypeScript have you tested against and which bundler are you using?

[2020-06-23 20:20] swagatmishra2007 commented on #287
It's an unused header..I will file a PR to remove it .

[2020-06-24 16:40] xtianus79 commented on #290
@compulim I will have to get that too you but the issue lies in the directline-subject api that is using typescript 3.5.3 which is below this parent component and is not in the range of an angular application 3.6.2 and above.  I have, for now, moved onto using the api directly.

[2020-06-24 16:58] compulim commented on #290
Please let us know when you have the 403 error so we can take a look.

[2020-06-24 17:04] xtianus79 commented on #288
@compulim I am using Angular cli 9+ and to make matters super interesting Angular universal. lol I always have to decide if that is a culprit.

[2020-06-24 17:05] xtianus79 commented on #289
@stevengum I am using in the project 3.8.3 but the streaming 3.5.2 is causing the issue I believe.

[2020-06-24 17:10] xtianus79 opened #291 "When setting up a conversation token to directline access the name property is not transmitting through to the bot conversation"
Even though the user > id and userName > name is in the actual token that is created when the get conversation token api is called the bot never receives the name property with the conversation. Only the ID.

I am passing the name through so I would like to receive it in the bot layer to address the persons information. The id being a token, in my case, is great but I don't have personal informati

[2020-06-25 02:23] xtianus79 commented on #290
@compulim I think I may have duplicated the post because it's the stream component that is causing it I believe.

[2020-06-25 15:40] jwiley84 commented on #291
Acknowledging here, as I cannot be assigned to GH issues for some reason.

[2020-06-26 00:24] stevkan commented on #291
Hi @xtianus79, I've been speaking with our service team to identify if this is expected behavior or not. I won't have an update until tomorrow, mid-day, at the earliest.

As a side note, it should be noted that whether you have [enhanced authentication](https://blog.botframework.com/2018/09/25/enhanced-direct-line-authentication-features/) enabled in the Direct Line channel for your bot _does_ mak

[2020-06-26 04:40] stevkan commented on #291
@xtianus79, I was able to get a response sooner than expected. This behavior is by design. The User.ID is embedded into the token for security reasons to help prevent malicious users from modifying the ID. The User.Name is embedded so it can be accessed by the conversationUpdate that occurs when a direct line connection is initially established before any conversation actually occurs.

The expecta

[2020-06-26 04:40] #291 closed

[2020-06-26 14:23] xtianus79 commented on #291
@stevkan wait can you reopen this please? The design is awkward. In this statement

Is this available in the bot-framework at the time a user starts a conversation? That is what I am trying to say. Because the way I am interpreting that the conversation start which, has the token appended to the websocket param, is of the correct token but it does not pass the username. It's there but doesn't get

[2020-06-26 15:00] dandriscoll commented on #291
Hi @xtianus79, there are two different activity types in play here.

The `conversationUpdate` activity type is generated by Direct Line and is sent to your bot. This is why we include the user.name in the token, and this activity should include the user.name, as your client has no way to add the data if it weren't in the token.

The `message` activity type is created by the client (Web Chat or you

[2020-06-26 16:27] lorenz-haenggi-axa commented on #287
we had the same issue - and we set back to version 4.9.0 and its fine. it only appears in 4.9.1 due to the fact that botframework-directlinejs was updated to 0.12.0 instead of 0.11.6

[2020-06-26 18:31] compulim commented on #288
@xtianus79 I think there are two issues:

We assume Webpack is everything. But in fact, Webpack is too magical (automatically convert Node.js package into [`node-libs-browser`](https://npmjs.com/package/node-libs-browser)). @stevengum and @Zerryth are trying to take away Node.js package or directly linking to [`node-libs-browser`](https://npmjs.com/package/node-libs-browser)

Another issue is the

[2020-06-26 19:48] compulim commented on #290
@xtianus79 no problem, if you can confirm 403 is no longer repro on your side, please feel free to close this as dupe. One bug down is always great for us. No worries. 😉

[2020-06-26 23:01] stevengum commented on #289
Closing this in favor of #288 where @compulim highlighted the same concerns about the bundling and lack of pulling in `node-libs-browser`.

I believe this is a duplicate and that addressing #288 will address this issue.

[2020-06-26 23:01] #289 closed

[2020-06-26 23:04] stevengum commented on #288
Closed #289 as the same error message was being reported here. Additionally, I have the same concerns about the missing `node-libs-browser`.

_@xtianus79 regarding version of TypeScript used ([comment](https://github.com/microsoft/BotFramework-DirectLineJS/issues/289#issuecomment-648946630))_

[2020-06-28 16:28] xtianus79 commented on #291
@dandriscoll thanks for your reply. I am not too sure about where the conversationUpdate activity takes place compared to the conversation token and just inherently starting a conversation takes place. Also, I am not sure that is what the main over arching point is.  The reason why I bring that up is because I'm just not receiving the payload where I need it to be.

I think it would help to walk

[2020-06-29 15:28] dandriscoll commented on #291
Hi @xtianus79 if you're trying to achieve SSO by sending your webpage's token down to the bot, you may choose to send it once, or you may choose to send it on every message.

- If you choose to send it once, you should use the **Event activity** to send it silently in the background.
- If you choose to send it on every Message, you should use the **ChannelData** field, as this is a reserved area t

[2020-06-30 04:25] xtianus79 commented on #291
@dandriscoll lol yea you might be right as there is a 64 character limit on the id field. Ok, so I am glad to hear there are other outlets for what I am trying to do. The event activity that goes with the conversation start? And if so where would that be picked up exactly (on the bot side?)

I would like to send it once in the background. I think that is the most ideal solution.  For example, I wo

[2020-06-30 05:38] grimz11 commented on #287
Same issue here with <b>botframework-webchat": "^4.9.0"</> version. But this only happens in the live server though. There's no issue in my local.

[2020-06-30 13:11] wbrands2 commented on #287
SAME ISSUES*** Same issue here with botframework-webchat": "^4.9.0" version. But this only happens in the live server though. There's no issue in my local.

[2020-07-01 06:43] xtianus79 commented on #291
@dandriscoll so thank you the event activity will work well. I have a couple questions.

1. Can you trigger an event that will emit an event back to the client? I.e. fire an api call and wait for result to come back through a sendActivities(event)

2. Can you send an event activity through sendActivities([])? Just wondering if you can trigger a portion of a dialog to send a specific event via type

[2020-07-02 19:23] dandriscoll commented on #291
Answers to the questions above:

- Within Direct Line and Web Chat, ChannelData is owned by you (the developer) and works in both directions. ChannelData is a complex JSON object so you can include multiple fields and nested structures. The schema is entirely up to you.
- Yes, you can send Event activities in both directions. Choose a value of the Name field that is specific to your application wh

[2020-07-04 16:10] xtianus79 commented on #291
@dandriscoll Awesome!!! This opens up a whole new world.
@tonyanziano Yes, as of now i see conversation update, typing, ping (<<is that a type) and deleteUserData. But not events.

[2020-07-06 07:12] SafwaanA-Hexaware commented on #287
Is there any solution to this issue?

[2020-07-06 18:14] arman-g commented on #287
Is there any updates for this issue? What is the time line?

[2020-07-06 18:23] SafwaanA-Hexaware commented on #287
I used the 4.8.0 version and this issue went away.

[2020-07-06 18:32] cleemullins commented on #275
@anusharavindrar, can you please provide an update?

[2020-07-06 18:39] anusharavindrar commented on #275
Adding @bwamie to help further investigate the issue.

[2020-07-07 18:12] Virtual-Josh commented on #290
closing due to inactivity/dupe

[2020-07-07 18:12] #290 closed

[2020-07-08 06:17] stevengum commented on #288
Quick update from my end for botframework-streaming:

I’m currently working on removing the node.js specific dependencies and either replacing it with an explicit pollyfill or creating a Node/Browser specific implementation classes.

I have a simple manual integration test that I’m using to validate the work I’m doing.

This work will ship with R10.

[2020-07-08 11:14] timenick opened #292 "Support locale at StartConversation"
##Issue
Original issue: microsoft/botframework-obi#75

This issue tracks a frequently requested feature to allow a user locale when starting new conversations. The user locale is needed so that bots can send a properly localized Greeting Message to users.

##Proposed change
DirectLineJS - update the protocol to support locale and userId

Tracking WebChat issue: https://github.com/microsoft/BotFram

[2020-07-08 18:07] compulim commented on #292
@youyu16 I saw you were assigned to this issue. So please let me know if the assignment is wrong so we can re-assign to someone else.

The goal should be:

[code]

[2020-07-12 02:35] xtianus79 commented on #291
@tonyanziano is there the ability to send / trigger an event from a local environment?

[2020-07-13 16:08] tonyanziano commented on #291
Sorry I didn't respond last week, I missed this notification.

Hi, @xtianus79

There is currently no way to send a custom activity (like an event) from the Emulator other than what is available in the "Conversation" menu item.

However, this is on our radar as it is one of the most requested features right now. You can track the issue here:

https://github.com/microsoft/BotFramework-Emulator/issue

[2020-07-17 18:40] compulim commented on #287
DLJS 0.12.0 is causing the issue, which was introduced in WebChat 4.9.1 (but not 4.9.0).

@swagatmishra2007 to get to this sooner.

[2020-07-21 19:50] bwamie commented on #275
Bot Service only keeps logs for 30 days. Unfortunately it may not be possible to investigate the cause. I recommend closing it and opening it for investigation when it reoccur.

[2020-07-21 21:31] munozemilio commented on #275
Closing this per last comment

[2020-07-21 21:31] #275 closed

[2020-07-22 02:49] shunyh commented on #275
I have lost patience with this question too, and do not expect an answer since it lasts so much time.

[2020-07-22 11:12] sreejithkummil opened #295 "Deprecated 'crypto, npm"
@stevengum

in
![error](https://user-images.githubusercontent.com/49387686/88169576-ce072b80-cc39-11ea-9fbf-cfcc54c4b3fc.jpeg)
my react native project i use,

npm install botframework-directlinejs --save

to work properly i need crypto npm.. what can i do?

please help.

node : v14.5.0
botframework-directlinejs : ^0.12.0
react : 16.13.1
react-native :  0.63.1

[2020-07-22 20:10] munozemilio commented on #295
@ckkashyap could you please take a look at this?

[2020-07-28 12:57] orgads commented on #170
Here is a MWE (you need to install nock):

[code]

[2020-07-28 17:42] BhargavJanardhan opened #298 "Error on Members Added "read econnreset""
**Issue :** Error message "read econnreset" is coming in Members Added method.
**Description :**

- We are using DirectLine to send the messages.

- In the bot service code(**Node JS**), while we are sending welcome message in members added method the above error is coming. Below is the line how we send a welcome message.
**await context.sendActivity(MessageFactory.text(copy.t("welcome")));**

We

[2020-07-28 18:06] BhargavJanardhan opened #299 "Error: connect EADDRINUSE 13.**.**.152:4*3"
Hi,
**Issue**: The error message"connect EADDRINUSE 13.1*.2*.152:4*3" is coming in **onMembersAdded** Method
**Description**

- we are using directline in order to connect to bot service.

-  When the new user is getting added in bot source code it goes for **onMembersAdded** Method. While sending the welcome message to the user  **await context.sendActivity("");** the above error is getting recor

[2020-07-28 18:19] EricDahlvang commented on #287
Fixed with https://github.com/microsoft/BotFramework-DirectLineJS/pull/296

[2020-07-28 18:19] #287 closed

[2020-07-28 19:15] EricDahlvang commented on #295
@stevengum would you please provide an update on this.

[2020-07-28 19:29] stevengum commented on #295
I'm working on an issue in the JS repo that would address this problem of pulling in `crypto` into directlinejs, the ETA for the fix is R10.

[2020-07-29 21:30] stevkan commented on #298
Closing as a duplicate of #299.

[2020-07-29 21:30] #298 closed

[2020-07-29 21:41] stevkan commented on #299
Is this a published bot or is it being run in development (i.e. locally)? The error you are receiving indicates that the port is already in use. What is the port you have assigned to the bot?

And, is the error only occurring in the `onMembersAdded` method? If you remove that activity handler and the user interacts with the bot does the error still occur?

Can you verify which version of BotFramew

[2020-07-30 11:28] BhargavJanardhan commented on #299
This is a published bot into Azure Bot Service.

We have enabled auto scaling for the App Service Plan with below configurations.

![image](https://user-images.githubusercontent.com/27334482/88913966-c955ff00-d259-11ea-8fa2-5a99e9509a86.png)

These errors came mostly on these dates but we also observed the errors came when there is no auto scaling.
Hence I assume as the bot is deployed in azure an

[2020-07-30 11:33] BhargavJanardhan commented on #298
I am not sure why this has been closed as duplicate though the errors are different.

This is the only one error came in Members added but where as https://github.com/microsoft/BotFramework-DirectLineJS/issues/299 errors came in 3 different places with another error. Hence I would like to reopen this issue.

If you would need more information please let me know

[2020-08-04 19:38] stevkan commented on #299
@BhargavJanardhan, a few more questions for you:

- Is this bot written in JS or .Net? Code suggested JS, but above you list ".Net Framework version : 4.6".
- I'm not sure what you mean "botbuilder node version" and "Bot Framework version".
    - Is "Bot Framework" referring to something different than the BotFramework SDK (i.e. "botbuilder node" you mention first)?
    - Why are they set to diffe

[2020-08-05 01:30] #292 closed

[2020-08-07 21:35] stevengum commented on #288
Unfortunately there isn't enough R10 bake time for the removal of the Node.js dependencies in the botframework-streaming.

The currently targeted milestone is R11.

[2020-08-11 18:24] carlosscastro commented on #295
ETA -> R11 (November) unless needed earlier. @ckkashyap any date restrictions on your side?

[2020-08-13 00:50] stevkan commented on #299
Updating for reference: I've been working with Azure Support via email and Teams to try and determine the root cause of the bot producing errors. Initially, thought it might have been a port exhaustion error which lead me to a series of "ReconnectToConversation" calls that were being producted.

After speaking with a Services engineer, we determined that those calls are not the cause, but may be t

[2020-08-17 08:12] imdat1guy opened #302 "How to capture DirectLine token refresh?"
I am storing the token on a client side cookie to maintain the user's conversation with the bot as he navigates through different pages in our application. However the token is automatically refreshed every 15 minutes by DL. How do I capture the refresh event so I can update the cookie with the new token?

[2020-08-18 13:55] Metroidaron commented on #295
Hello, I am the React-Native developer for my company and I am trying to implement the Bot Framework Direct Line JS in our application for an employee chatbot; I was at first running into a "stream" not found when bundling issue, and was able to resolve it with an install and import of "stream"; but now I am seeing this same Crypto bug and I believe my issue is the same as this one...

Is there a

[2020-08-18 17:52] stevkan commented on #302
@imdat1guy, are you able to share the code you are using so I can best understand / research a solution? Also, what is the client application you are using?

[2020-08-19 07:01] imdat1guy commented on #302
I am using the Web Chat (with CDN) which inherently uses DirectLine. My code is very similar to the sample here:
https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-webchat?view=azure-bot-service-4.0

after retrieving the token from my Token server I render the webchat and store the token in a cookie. However, the token is automatically refreshed every 15 minutes and I'm

[2020-08-20 17:59] stevkan commented on #299
Per conversation with Azure Support, closing due to no activity. If the problem persists, or there is new information that can be provided, please feel free to reopen the issue.

[2020-08-20 17:59] #299 closed

[2020-08-24 17:58] stevkan commented on #302
@imdat1guy, in this scenario you wouldn't actually rely on the token refresh feature of DirectLine, primarily because you are accessing from Web Chat. The best practice is to simply create a "refresh" API you also call from your token server.

This is what my refresh API looks like. Yours would look something similar:

[code]

Then, in Web Chat, use  `setInterval()` to refresh your token every 150

[2020-08-25 09:06] imdat1guy commented on #302
Yeah I thought of that as well. However, in our application the user will be navigating through multiple pages and may not necessarily spend long enough to trigger token refresh call after the set interval. So he could spend long enough time on the app for the token to expire, but not long enough on a single page for the token to refresh. Thus, instead of the refresh API I am now using the get con

[2020-08-25 09:07] #302 closed

[2020-08-26 18:14] Bradrajkumar opened #304 "Implementation of "keepAliveAgent" with bot and qnamaker service"
hi team,

**FYI**
this is a feature request.
i am using node.js for bot service integrated with QnaMaker. i need the complete code implementation of using "keepAliveAgent" in node.js application. i tried to find out some reference of usage of "keepAliveAgent" with node.js application with bot-framework and Qnamaker but unable to track it down.
it will be truly appreciable if either i will get sour

[2020-08-28 19:06] ckkashyap commented on #304
Hey @Bradrajkumar ,
Could you please provide more details about what you are trying to do? This will help me understand your usage of "keepAliveAgent" and provide you the right information.
Regards,
Kashyap

[2020-08-29 04:27] Bradrajkumar commented on #304
Hi Kashyap,

- my Bot Framework application is in node.js.
- i have integrated Qna Maker with it.
- it seems like my application is using outbound Api calls and this result in overhead of application which results in "EADDRINUSE", ENOBUF, etc. overall i can say that TCP connection is resetting abruptly and in unexpected way.
- i am trying to use this "keepAliveAgent" in my code so that TCP connect

[2020-08-31 16:50] ckkashyap commented on #304
Thanks @Bradrajkumar - This issue https://github.com/microsoft/botbuilder-js/issues/183 is deals with the same problem. Looks like you have already participated there. I think we should close this as duplicate.

[2020-08-31 18:13] pavolum commented on #295
We are expecting this to be implemented in R11 which means November 11th time frame

[2020-08-31 18:28] pavolum commented on #304
Closing this as it is a duplicate

[2020-08-31 18:28] #304 closed

[2020-09-04 20:29] stevengum opened #307 "Add new E2E and unit tests in Node.js environments"
Per the latest README, this package works in the Node.js environment, however there are no unit or E2E tests that cover this category of scenarios.

Ideally there would be a test parity of type and coverage with the browser dist, but the appropriate tests still needs to be specified.

https://github.com/microsoft/BotFramework-DirectLineJS/blob/56edf3554e44332dbff69280fe0fcc79a7c91363/README.md#L48

[2020-09-04 20:29] stevengum commented on #307
Related to https://github.com/microsoft/BotFramework-DirectLineJS/pull/306

[2020-09-17 17:37] HesselWellema commented on #302
@stevkan Just a short question. You are creating a new userId for the new Token. How does that work with userState. I have noticed that not using the same userId when reconnecting to a conversation results in no access to userState.

[2020-09-23 15:54] EricDahlvang opened #311 "npm homepage for this package should be updated"
Mentions to build2019 should be removed:

https://www.npmjs.com/package/botframework-directlinejs

![image](https://user-images.githubusercontent.com/11055362/94037517-4b563600-fd7a-11ea-91ff-af4d4e0a60c2.png)

[2020-09-24 11:06] Basavarajsk1992 opened #312 "Directline bot echo back inputted message after implementing token instead of secret?"
If I use the token instead of secret in direct line channel. Inputted message is getting echo.
There is no such implementation done in code and with secret and emulator all works fine.
` var botConnection = new BotChat.DirectLine({
                    	token: botToken,
						webSocket: true
					});`
`BotChat.App({
										botConnection: botConnection,
										user: {
											id: userId,

[2020-09-24 16:56] v-kydela commented on #312
Hello, @Basavarajsk1992

I suspect the problem is related to your use of Bot Chat. Bot Chat is Web Chat v3. Do you encounter the problem when you use [Web Chat v4](https://github.com/Microsoft/BotFramework-WebChat)?

[2020-09-24 17:11] urdurgaprasad commented on #312
@v-kydela  The issue reported by Basavaraj is in V4 bot. Please let us know for any additional details.

[2020-09-24 17:56] v-kydela commented on #312
@urdurgaprasad - I'm not talking about the bot, so whether or not the bot is "v4" is irrelevant. I presume you mean the bot was built with the Bot Builder v4 SDK, but v4 uses the same activity schema as v3 so there's no difference in the clients those bots can connect to. Web Chat v3 can connect to v4 bots and Web Chat v4 can connect to v3 bots. Please don't think of the Bot Builder version as bei

[2020-09-24 19:29] urdurgaprasad commented on #312
@v-kydela  Thank you for the quick response.

In my previous update, I meant we are using Bot Builder v4 SDK.

Now, I understood the point you are referring to. You are referring to the implementation mentioned in the below example right? https://github.com/microsoft/BotFramework-WebChat

Let me try and get back to you.

Thank again for quick response.

[2020-09-24 19:40] v-kydela commented on #312
Yes, I am referring to Web Chat v4 as seen in the default branch of that repo, which I had linked to

[2020-09-25 17:34] urdurgaprasad commented on #312
@v-kydela We tried to change the approach to as you recommend i.e. to Web Chat v4 and we are struck with another issue, Reaching out here to see if you can help with any inputs.

We are hosting this chatbot in salesforce application (SFDC), and SFDC application does not allow to refer URL paths for the java script. i.e. we are not able to directly refer CDN URL path. We have to copy the webchat.js

[2020-09-25 18:20] v-kydela commented on #312
@urdurgaprasad - Should I assume what you're doing is going to that website, pasting the Web Chat code into the box, and clicking the evaluate button? And are you using the latest full bundle of Web Chat found here? https://cdn.botframework.com/botframework-webchat/latest/webchat.js

I'm afraid I don't know what that evaluate button does and I don't know what Lightning Locker is but I can see that

[2020-09-25 19:59] urdurgaprasad commented on #312
@v-kydela You are right. I have taken latest webchat.js file code from CDN site and evaluating in salesforce locker site https://developer.salesforce.com/docs/component-library/tools/locker-service-console

[2020-09-25 20:40] v-kydela commented on #312
@urdurgaprasad - I've learned that the duplicate activity you were seeing in Bot Chat is because of an "echoback" activity that's sent by Direct Line by design. You can see a diagram explaining that flow [here](https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/ACCESSIBILITY.md#ux-message-ordering). Web Chat v4 knows how to handle the echoback, but I guess Bot Chat does not (at lea

[2020-09-25 21:21] urdurgaprasad commented on #312
@v-kydela I tried to disable strict CSP in the[ locker service console](https://developer.salesforce.com/docs/component-library/tools/locker-service-console) to see the results. Even with disabling strict CSP, am seeing the same error.

But in my last discussion with salesforce team, they mentioned without successful validation from locker console, they will be able to host the JS file in salesfor

[2020-09-28 23:29] v-kydela commented on #312
@urdurgaprasad - I'm afraid we're no longer supporting Bot Chat, so I can't help you on that end. As far as getting Web Chat v4 to work, I can see that @compulim has opened another issue to investigate that. It seems like you have a few choices:

1. Use the secret instead of a token in Bot Chat
1. Try to find a way to fix Bot Chat on your own
1. Wait for the Web Chat team to come up with a solutio

[2020-09-29 02:19] urdurgaprasad commented on #312
@v-kydela Thank you for all your support and inputs here.

[2020-10-01 00:58] scch1002 opened #313 "How to capture DirectLine token refresh? Re ask of issue 302"
Hi,

I have a few questions related to the design of directline; related to the issue https://github.com/microsoft/BotFramework-DirectLineJS/issues/302

1. If DirectLine is automatically sending a request to refresh the token every 15 minutes then why is an additional custom endpoint and interval function necessary for refreshing tokens in webchat? From what I can tell, this would result in two se

[2020-10-01 18:05] ninggao commented on #313
@stevkan Can you take a look at this please?

[2020-10-01 22:37] stevkan commented on #302
@HesselWellema, apologies for the delay. I hadn't noticed your response until just now.

I haven't heard of the presence of a `userId` (or lack thereof) affecting `userState` as one shouldn't affect the other. Perhaps I'm not fully understanding the question.

As your new question is unrelated to the currently answered question, I would ask that you post it separate from this thread. Additionally,

[2020-10-06 18:07] stevkan commented on #313
@scch1002,

You are right. There have been improvements made to Web Chat, in this area, that I hadn't picked up on. At one point, the solution I presented was of use and can still prove useful to people wanting a bit more control. However, in some recent testing, I have verified that the token does get refreshed automatically without any additional calls having to be made nor the need for an inter

[2020-10-12 18:25] ryanlengel commented on #312
@urdurgaprasad I am closing this issue as the original question regarding Web Chat v3/v4 is resolved. For any new questions please file a new issue - thank you!

[2020-10-12 18:25] #312 closed

[2020-10-15 17:44] ivanELEC opened #314 "Consistent 500 Server Error When using postActivity function of DirectLine object"
I have a project in ReactJS that uses the ReactWebChat component of botframework-webchat with a DirectLine object for the conversation.

When I retrive the Direct Line object, confirm that the Direct Line is connected and try to use the postActivity function, I am getting a 500 Server error consistently on a POST request made by the postActivity function (conversation ID, name of event, user IDs h

[2020-10-15 20:22] mrivera-ms opened #315 "Rename master branch to main"
See parent issue: microsoft/botframework-sdk#5993

[2020-10-16 23:06] dmvtech commented on #314
hi @ivanELEC Do you see any more/additional information in the bot's Channels blade for Direct Line channel?

[2020-10-19 17:25] stevengum commented on #313
@stevkan do you have any updates on this issue?

[2020-10-21 07:07] harshchawda opened #317 "Unable to resolve module `stream` from `node_modules\botframework-streaming\browser\subscribableStream.js`"
### I am trying to integrate Botframework-DirectlineJS to my react-native app but after installing the package "botframework-directlinejs" I am getting the following error inside dependency of a **node module.**

error: Error: Unable to resolve module `stream` from `node_modules\botframework-streaming\browser\subscribableStream.js`: stream could not be found within the project.

If you are sure th

[2020-10-21 21:36] stevkan commented on #313
@scch1002, thank you for your patience. When creating a Direct Line object, you can capture both the original and any refreshed tokens as they are generated by assigning the returned value to a variable. In the case of Web Chat, you can do the same with the returned value of `createDirectLine()`.

In this example, I am running a "token server" that exchanges a Direct Line secret for a token. I als

[2020-10-21 21:36] #313 closed

[2020-10-22 03:23] vishwa1937 commented on #214
I am having problem ending all connection and unsubscribing directline. What is the better way of ending all connection and unsubscribing all directline related thing when component unmount in react-native. Please explain with some example code to implement.

Thank you.

[2020-10-23 15:45] cwhitten commented on #295
@stevengum I'm moving this to R12

[2020-10-23 18:00] stevengum commented on #317
This should land in the 4.11 release and is reliant on https://github.com/microsoft/botbuilder-js/pull/2942.

[2020-10-30 18:08] #314 closed

[2020-11-09 07:29] patrickianco opened #318 "WebSocket is not defined"
Hello, I'm following the basic usage for the sdk based on the documentation.

![image](https://user-images.githubusercontent.com/27019238/98511853-59b3cf00-22a0-11eb-8ec8-4c440aeba712.png)

I get the error `ReferenceError: WebSocket is not defined` when starting the server.

Are there any examples of using the directlinejs package in the backend?

[2020-11-09 19:28] cwhitten commented on #317
@stevengum can you confirm this shipping with JS R11?

[2020-11-09 21:52] stevkan commented on #318
@patrickianco, for Direct Line to function in a Node environment, you need to install these two packages into your project and include them at the top of the file you are calling Direct Line in. If you do not, then you will get the error you are receiving. For reference, this requirement is listed in the docs under 'step 2', [here](https://github.com/microsoft/BotFramework-DirectLineJS#using-from-

[2020-11-09 21:52] #318 closed

[2020-11-12 08:46] sathwikkrishna opened #320 "webchat refresh token after it got expired."
Hi,

I'm applying a token based authentication to bot webchat along with the chat being persisted but  facing an issue after the token got expired. Unable to connect to bot.

At first I'm generating a token and refreshing for 15 mins and every thing working fine till then. But, when user went offline with no internet connectivity, suppose for around 6-7 hours, due to offline the refresh token post

[2020-11-12 14:40] drfbwilliams opened #321 "Typescript Issue with export"
Hi,

I created a plain vanilla asp.net core 3.1 mvc solution. pushed through with npm installs etc, all good. Index page has a single button on - as plain and basic as the site can be to run.

I create a TS file and added the following:
`import { DirectLine } from "botframework-directlinejs";
    var directLine = new DirectLine({
        secret: "<<secret>>",
    });
`

Regardless of how I set up

[2020-11-12 18:01] stevkan commented on #321
@drfbwilliams, I am going to start attempting a repro of this. In the mean time, can you post the code of your `tsconfig.json` file and the contents of your `package.json`?

[2020-11-13 00:17] stevkan commented on #320
I see a [duplicate post](https://stackoverflow.com/questions/64806603/refresh-directline-token-after-it-got-expired) was created on Stack Overflow. I am closing this in favor of that posting. In addition, please note the below statement.

------------------

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botf

[2020-11-13 00:17] #320 closed

[2020-11-13 02:07] drfbwilliams commented on #321
Hi Steven - thanks for this.

I've tried down versioning TS back into the 2.1.x and still no apples.

So back to 4.0.3 - compiles

tsconfig.json
`{
  "compilerOptions": {
    "noImplicitAny": false,
    "noEmitOnError": true,
    "removeComments": false,
    "sourceMap": true,
    "target": "es5",
    "outDir": "wwwroot/js"
  },
  "include": [
    "scripts/**/*"
  ]
}`

package.json
`{
  "version"

[2020-11-15 09:34] drfbwilliams commented on #317
I am at this same issue.

What is the work around? Not sure why it is in the package if its not yet available - or am I miss understanding which package is being used?

Many thanks,

[2020-11-15 09:53] drfbwilliams commented on #321
Hi @stevkan ,

The only way to get around this is to use webpack, which is another train smash of dodgy "magic string" technologies.

I'm now hitting the other issue reported of non resolvable stream module - pretty frustrating as I am sure you can imagine after a few days of trying to get, what should be a simple library include to run in a bare bones solution.

I will mark this as closed, and ho

[2020-11-15 09:53] #321 closed

[2020-11-15 14:47] harshchawda commented on #317
@drfbwilliams I have degraded the the "botframework-directlinejs" package to 0.11.6 as a workaround. Definitively this is not the correct way bot this makes the job done.

[2020-11-16 10:54] drfbwilliams commented on #317
@harshchawda - thanks so much for confirming a working version! I confirm that I too am able to work with **0.11.6**

@stevengum @cwhitten - can you please provide an ETA on R11?

[2020-11-16 18:15] stevkan commented on #321
@drfbwilliams, I'm glad you were able to move past this. I also fought with it trying any number of suggested solutions and implementations, but none to success.

[2020-11-17 08:31] drfbwilliams commented on #321
@stevkan glad it wasnt just me then ;-)  Cheers

[2020-11-20 05:30] drfbwilliams opened #322 "Error in Connection Status"
Hi

The Connection Status is incorrectly stating that the connection has failed and ended. The bot is still active and able to send and receive activities. I note at no other time does the connection status appear to change.

The following image is the output directly when a connection is first initialised with

![image](https://user-images.githubusercontent.com/69192966/99761482-cd6b9c80-2b28-11e

[2020-11-20 19:13] stevkan commented on #322
Can you include the code you are using for building and running Direct Line (hiding any keys/secrets)?

[2020-11-21 08:19] drfbwilliams commented on #322
Nothing non-standard as far as I understand - pretty much the minimum to connect?

`var directLine = new DirectLine({
    secret: "<<code>>",
});

directLine.connectionStatus$
    .subscribe(connectionStatus => {
        switch (connectionStatus) {
            case ConnectionStatus.Uninitialized:    // the status when the DirectLine object is first created/constructed
                console.log('

[2020-11-21 08:20] drfbwilliams commented on #322
Don't know why the code tag published such an awful mess - clearly something with some quotes somewhere. Sorry.

[2020-11-25 19:09] stevkan commented on #322
@drfbwilliams, I'm having some trouble repro'ing this. Is there anything about the environment this is being called in? Is it just a simple JS file, with the above code, that is being run?

[2020-11-26 14:26] drfbwilliams commented on #322
Hi @stevkan - this is the same behavior in both a plain old TS implementation as well as in a React component.

Maybe an issue with rxjs? just thinking out aloud at this point.

remember that I am still using v 0.11.6 as well - not sure if something changes since and a fix is in place.

Cheers

[2020-11-27 13:47] vishwadeepghimirezph commented on #175
Hello @sagarmodhavaniya and @naveenwinsome,  is there any solution on this ? I am also facing same problem.

[2020-11-30 03:54] sagarmodhavaniya commented on #175
@vishwadeepghimirezph  sure

`directLine.activity$
.filter(activity => activity.type === 'message' && activity.from.id === 'yourBotHandle')
.subscribe(
message => console.log("received message ", message)
)`

**filter(activity => activity.type === 'message' && activity.from.id === 'yourBotHandle') is help to filter your activity**
and one more thing you need to take care is the **subscribe** only

[2020-11-30 04:47] vishwadeepghimirezph commented on #175
Thank you for your reply @sagarmodhavaniya .
I already have above code as you have mentioned. But that also not working as expected. Also, in my code there is only one subscription not multiple.
Thank you.

[2020-11-30 05:16] sagarmodhavaniya commented on #175
@vishwadeepghimirezph  can you shrare you code here ?

[2020-11-30 06:29] dstvishnu opened #325 "Unable to upload files which are having size greater than 4MB"
When we are trying to upload the file we are unable to upload the file which have the size greater than 4MB.

[2020-11-30 10:23] vishwadeepghimirezph commented on #175
@sagarmodhavaniya Thank you for your reply. Below is my code. Thank you.
[code]

[2020-11-30 19:18] stevengum commented on #317
The fix in the underlying `botframework-streaming` library was completed in R11 and PR https://github.com/microsoft/BotFramework-DirectLineJS/pull/323 contains the package bump to pickup `botframework-streaming@4.11.0`. @compulim how do you want to proceed?

[2020-11-30 19:50] hcyang commented on #317
@cwhitten, can you respond to an ETA on R11?

[2020-11-30 23:21] cwhitten commented on #317
This missed the R11 window but can catch the next train--ETA February 2021.

[2020-12-01 03:46] sagarmodhavaniya commented on #175
@vishwadeepghimirezph  looks like code is right
please ones check your bot is sending message ones otherwise code is right as I see

[2020-12-01 09:57] drfbwilliams commented on #317
Thanks for the update.... I'm not sure how to write a frown face in here..... all good

[2020-12-01 10:24] febineldhose commented on #114
i can't attach files,when i am trying attach some file it always trigger 'retry' as response, can you help me to resolve this.

[2020-12-01 21:33] stevkan commented on #325
@dstvishnu,

Unfortunately, the file size limit is set at 4MB on the Direct Line channel. The limit is the default limitation, as specified in the [MaxRequestLength](https://docs.microsoft.com/en-us/dotnet/api/system.web.configuration.httpruntimesection.maxrequestlength?redirectedfrom=MSDN&view=netframework-4.7.2#System_Web_Configuration_HttpRuntimeSection_MaxRequestLength) property of the http ru

[2020-12-01 21:34] stevkan commented on #325
Closing this as resolved.

[2020-12-01 21:34] #325 closed

[2020-12-02 08:08] Jakob-vdH opened #326 "Catch failing connection to directline WebSocket endpoint"
I am trying to figure out a way to catch failing connections to the WebSocket stream endpoint of directline (for example wss://europe.directline.botframework.com/v3/directline/conversations/...) to be able to fall back to the polling mechanism.

**Use case example:** In some corporate networks WebSocket stream connections are blocked by a proxy etc or some plugins block WebSocket streams. If that

[2020-12-03 17:38] stevkan commented on #326
@Jakob-vdH,

As you know, `ConnectionStatus` is a function of Direct Line and reports the status of the connection it and the Direct Line channel is maintaining. However, if that connection is broken, the Direct Line object used by Web Chat (or any client) won’t be able to report that status until the connection is re-established. Once re-established, the various `store` action types (for instance

[2020-12-03 18:13] Jakob-vdH commented on #326
@stevkan thank you for clarifying.
I am still wondering why the `ConnectionStatus` is `2` / `Online`, even though the wss connection has not been established yet, since in this use case it has been blocked from the beginning. Like in your example, why does it say we have power, even though we never had any.
I understand the case though when an existing connection is interrupted/broken.

Is there a

[2020-12-08 19:13] stevkan commented on #322
Hi @drfbwilliams, thank you for your patience. I will attempt to repro this today using the older version and let you know what I find.

[2020-12-08 19:25] stevkan commented on #322
@drfbwilliams, are you able to provide code for you TS and/or React implementations? If possible, this will allow me to more precisely duplicate your efforts and get a better sense of what is happening.

[2020-12-10 11:08] HebatallaTarek opened #327 "Directline timed out when activity process extended"
Hello ,

Actually i am using DirectlineJs to connect Bot with Client Application , the issue is after user enter specific input the bot will reply with card which has dynamic data so the process of creating this card takes time , when i tried it in webchat it take 20 sec delay but it appears at the end , but when i use Directline it hang up and i got "assigned ID  retry" , i know the Directline ti

[2020-12-10 18:55] stevkan commented on #322
@drfbwilliams, just an fyi, I am still unable to repro the issue. Per the above, are you able to share files, at all?

[2020-12-10 19:50] drfbwilliams commented on #322
@stevkan sorry for delay in response, it's on my to-do list, just smashed on time at present.

Thanks for chasing up

[2020-12-10 23:43] dmvtech commented on #327
Hi @HebatallaTarek

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2020-12-10 23:43] dmvtech commented on #327
You must make use of [Proactive Messages.](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-proactive-message?view=azure-bot-service-4.0&tabs=csharp) to work around any issues where it may (or will) take longer than 15 seconds.

[2020-12-10 23:46] dmvtech commented on #327
Also, more info here:
https://stackoverflow.com/search?q=%5Bbotframework%5D+timeout

[2020-12-10 23:55] stevkan commented on #327
Closing, per request.

[2020-12-11 00:04] #327 closed

[2020-12-11 23:45] HebatallaTarek commented on #327
@dmvtech  Thanks for your reply but how Proactive messages used with waterfall dialogs is it applicable ?

[2020-12-12 00:36] dmvtech commented on #327
@HebatallaTarek Yes, proactive messages should work in dialogs (waterfall or otherwise). Again, the crux of proactive message is having the conversation reference.

[2020-12-12 21:44] HebatallaTarek commented on #327
@dmvtech @stevkan  Thanks a lot , i searched and can not find sample for using Proactive messages in Waterfall Dialog to follow the concept , i only found sample in bot builder for proactive messages in basic bot and i am confused in its controller usage  in Waterfall Dialogs

[2020-12-13 09:58] drfbwilliams commented on #322
@stevkan - hi - I put a repro together and stuffed it into a private repo - you should have a collab invite for it?

Apologies, I checked in the modules directory and am short on time to remove etc. You will see the barest of bare bones react to run this.

I kept the package.json file exact to the other solutions this issue is reported against.

npm run build
output is to console as per the issue.

[2020-12-15 09:15] stevkan commented on #326
@Jakob-vdH, thank you for your patience. The reason `ConnectionStatus` shows as `2 / Online` is because that is the last known status when the web socket fails. And, because the connection is no longer functional, it is unable to update to a more proper status. In fact, the Direct Line client has no functionality what so ever, at this point.

Unfortunately, I do not know of a method to manually te

[2020-12-15 09:15] #326 closed

[2020-12-18 05:19] jyapi commented on #214
@vishwa1937 this works for me in react-native.
this.activitySubscribe = directLine.activity$.subscribe();

componentWillUnmount() {
this.activitySubscribe.un.subscribe();
}

But not sure how to start a new conversation

[2020-12-20 04:46] jaykeerti opened #329 "Error: Unable to resolve module core-js/features/promise"
Guys i am unable to use the module as this error pops up whenever I run

I have downgraded to 0.11.6 because of this issue:https://github.com/microsoft/BotFramework-DirectLineJS/issues/317
![image](https://user-images.githubusercontent.com/16056169/102705321-6585ae80-42ac-11eb-81db-0e8e28314686.png)

[2020-12-22 05:33] joshgummersall commented on #329
Can you share some details about your usage? Is this for a Node .js project, a browser project, or something else?

Resolution with Node.js works properly as `core-js` is listed in the package `dependencies`. A quick test in the browser indicates that `dist/directline.js` has the correct dependencies bundled as well.

To use the bundled version of Directline you can try:
[code]

[2020-12-22 06:13] jaykeerti commented on #329
i was just working on react native project ([link](https://blog.expo.io/so-you-want-to-build-a-chat-app-with-react-native-expo-and-microsofts-bot-framework-4d2327f76ce3))
@joshgummersall This helped Thanks.

[2020-12-22 06:13] #329 closed

[2020-12-23 08:02] orgads commented on #255
@cwhitten ping

[2020-12-23 17:34] stevkan commented on #322
@drfbwilliams, are you able to send the invite, again? Initially, I was able to visit the repo but not interact with it while also getting an unusual GH error. Researching around suggested it was a GH issue. The problem is now the repo has dropped away and I can't access it at all and following the invite says it expired / no longer exists.

[2020-12-23 18:34] drfbwilliams commented on #322
No problems - should have got an invite again. Let me know if you keep having issues.

Cheers

[2020-12-30 02:43] stevkan commented on #322
Hi @drfbwilliams, I noticed in your `app.tsx` file that the ConnectionStatus case statement is lacking a `break` after each case statement. Without a `break` or `return`, each case statement will bleed into the next resulting in each value being printed starting with the matched value. This explains why to start you get the whole list of statuses but the list then changes as the subsequent runs th

[2020-12-30 02:53] drfbwilliams commented on #322
Hi @stevkan - thanks for looking into this.

I can tell from your response without even testing that indeed this is the issue.

Stupidly in my haste to get something running, I blindly copied the getting started snippets from the docs - and as you will see, the section example code doesn't include the break points.

https://github.com/microsoft/BotFramework-DirectLineJS#monitor-connection-status

[2020-12-30 02:53] #322 closed

[2020-12-31 14:09] attachi20 opened #331 "botframework-directlinejs Error: not implemented"
i have probleme with this importation.
import { DirectLine } from 'botframework-directlinejs';
when i run my project i get error  Error: not implemented.
in my react native app.
but in my web app works fine

[2020-12-31 19:28] joshgummersall commented on #331
Are you following [this guide](https://blog.expo.io/so-you-want-to-build-a-chat-app-with-react-native-expo-and-microsofts-bot-framework-4d2327f76ce3)? The only references I see in DirectLine to a "not implemented" error are on ajax methods that aren't used in the code. Can you provide the full Error stack trace?

[2021-01-04 21:15] compulim commented on #170
Hi @orgads, this is recently fixed in #324. You should start seeing this fixed in `@0.13.2-master.c6ecb71`.

Please let us know if it resolves the issue. Thanks.

[2021-01-04 21:33] cwhitten commented on #255
Currently in our upcoming milestone (March 2021)

[2021-01-05 09:08] attachi20 commented on #331
![133946389_1241708499537006_4698129790341718495_n](https://user-images.githubusercontent.com/48732697/103627501-0081b800-4f3e-11eb-8bbd-0f7eed231fe0.jpg)

[2021-01-05 09:11] attachi20 commented on #331
yes bro,i follow this guide

[2021-01-05 17:36] joshgummersall commented on #331
@compulim, can you provide any insight on this issue?

[2021-01-06 16:06] attachi20 commented on #331
I tried to integrate my chatbot with an app that I created with expo. the chatbot works.
but in a react-native application the botframework-directlinejs library does not work.
any idea

[2021-01-14 11:37] orgads commented on #170
Hi. Sorry for the delay.

I tested it now. It doesn't crash, but I also don't get an error event. Reproduces with the MWE I posted above.

Do I need something else for capturing errors?

[2021-01-20 23:59] compulim opened #333 "[Content Security Policy] Restrict `blob:` in `connect-src`"
## Feature Request

Today, we require this directive: `connect-src blob:`.

This is because [`botframework-directlinejs`](https://npmjs.com/package/botframework-directlinejs) use blob URL to retrieve `ArrayBuffer` for uploading attachments. The code is at https://github.com/microsoft/BotFramework-DirectLineJS/blob/master/src/directLine.ts#L807.

## To-do

To remove this directive, we need to modif

[2021-02-04 19:56] srinaath commented on #331
@compulim @joshgummersall Could we drive this ticket forward?

[2021-02-07 08:45] orgads commented on #170
@compulim ping

[2021-02-10 21:28] stevengum commented on #317
Fixed via https://github.com/microsoft/BotFramework-DirectLineJS/pull/323.

[2021-02-10 21:28] #317 closed

[2021-02-10 21:29] stevengum commented on #295
Fixed via https://github.com/microsoft/BotFramework-DirectLineJS/pull/323.

[2021-02-10 21:29] #295 closed

[2021-02-10 21:30] stevengum commented on #288
The `crypto`, `http`, and `stream` dependency resolution issue has been fixed via https://github.com/microsoft/BotFramework-DirectLineJS/pull/323.

[2021-02-10 23:40] stevengum commented on #288
The fix for resolving Node.js dependencies was just released in version [0.14.1](https://www.npmjs.com/package/botframework-directlinejs/v/0.14.1) of `botframework-directlinejs`.

[2021-02-10 23:40] stevengum commented on #295
The fix for resolving Node.js dependencies was just released in version [0.14.1](https://www.npmjs.com/package/botframework-directlinejs/v/0.14.1) of `botframework-directlinejs`.

[2021-02-10 23:41] stevengum commented on #317
The fix for resolving Node.js dependencies was just released in version [0.14.1](https://www.npmjs.com/package/botframework-directlinejs/v/0.14.1) of `botframework-directlinejs`.

[2021-02-11 18:54] compulim commented on #170
You are correct. The PR #324 was a rework of your #171 without triggering the bug in RxJS and also without logging out the error in the console.

Currently, DLJS was designed not to send out any events on intermittent connection errors.

Looking at [`directLine.ts:359`](https://github.com/microsoft/BotFramework-DirectLineJS/blob/master/src/directLine.ts#L359), this is the enumerable for connection

[2021-02-11 21:51] corinagum commented on #288
Closing as resolved.

[2021-02-11 21:51] #288 closed

[2021-02-17 19:40] compulim commented on #331
@attachi20 could you provide a stack trace on the issue? I wondered where the "not implemented" was come from.

It will be great if support team can help by building a simple React Native app that consume DLJS package (not necessarily Web Chat).

[2021-02-17 20:50] orgads commented on #170
cc @yoshigev

[2021-02-19 19:23] compulim commented on #180
This is related to #255. The schema need to be updated to support images in audio cards.

[2021-02-22 12:22] piyushkacha75 commented on #154
Any update on this? I'm facing a similar issue.

[2021-02-24 10:09] kushalbhabra commented on #107
Hi, I'm using DirectLine JS 0.14.1 and trying to send attachment but getting an error from the library.

[code]

I've also added below two lines in my application
[code]

Is there anything else to be done so that formdata and blob don't fail?

[2021-02-25 23:17] cwhitten commented on #32
Loading this up for prioritization in our upcoming milestone.

[2021-02-25 23:18] cwhitten commented on #26
Closing due to inactivity.

[2021-02-25 23:18] #26 closed

[2021-02-26 00:36] cwhitten commented on #182
Hello. We have no plans to move to newer versions of RxJS. We'd actually prefer to remove the dependency from this library altogether as part of a new major release. Closing this particular issue as a won't-do

[2021-02-26 00:36] #182 closed

[2021-02-26 00:40] cwhitten commented on #178
Loading up for discussion/prioritization in an upcoming release

[2021-02-26 00:48] cwhitten commented on #175
Closing.

[2021-02-26 00:48] #175 closed

[2021-02-26 00:49] cwhitten commented on #174
Hello @jacyuan - can you please update to the latest version of Web Chat and see if your issue still exists? Thanks.

[2021-02-26 00:53] cwhitten commented on #166
@stevkan can you take a look at this one?

[2021-02-26 01:01] cwhitten commented on #163
Loading up for discussion/prioritization in an upcoming release

[2021-02-26 01:05] cwhitten commented on #145
Closing due to inactivity

[2021-02-26 01:05] #145 closed

[2021-03-01 20:13] cwhitten commented on #331
Closing due to lack of activity

[2021-03-01 20:13] #331 closed

[2021-03-05 08:07] kushalbhabra opened #336 "Using from NodeJS - Unable to send attachments"
Hi, I'm using DirectLine JS 0.14.1 and trying to send attachment but getting an error from the library.

[code]

I've also added below two lines in my application
[code]

Is there anything else to be done so that formdata and blob don't fail?

_Originally posted by @kushalbhabra in https://github.com/microsoft/BotFramework-DirectLineJS/issues/107#issuecomment-784963579_

[2021-03-08 22:56] stevkan commented on #336
@kushalbhabra, I've started attempting a repro of this issue. If you are able, could you attach a zipped copy of your project? Or, a simplified version if that is better.

[2021-03-11 09:25] kushalbhabra commented on #336
Hi Stevkan

Here's a simplified version of my bot. When you say 'agent' it calls another bot using Directline secret in env file.

The functionality is emulate bot as proxy between user and agent hub for live agent transfer.

[https://github.com/kushalbhabra/chat/blob/master/SampleDirectline.zip](url)

[2021-03-18 08:45] kushalbhabra commented on #336
@stevkan Let me know if you any more information to reproduce the issue

[2021-03-18 10:04] pvkas opened #338 "Directline Reconnect Issue"
## Problem
- Directline sending all past activity when connecting to an old conversation

## Issue Description
Reconnecting to old conversation relies on [Reconnect Conversation](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-reconnect-to-conversation?view=azure-bot-service-4.0#generate-a-new-websocket-stream-url) API. Microsoft API is currently havi

[2021-03-18 10:17] piyushkacha75 commented on #338
Please fix it as soon as possible, Suddenly why sending all activities on reconnect?
[code]
@pvkas is specifying API call behind is `new DirectLine with conversationId`.
Why suddenly sending all activities ????? 😠

[2021-03-18 10:43] iAmrMohamed commented on #338
We had the same issue today, we removed the dash after the `watermark=` as a quick fix

[2021-03-18 19:38] jarofbilly commented on #338
Same issue here, the streamUrl returned from reconnecting to a conversation forces `watermark=-` which means that all past messages get pushed down the websocket

[2021-03-22 20:29] craigjensen commented on #338
This is a regression in the directline service.  The fix will go out with this week's release

[2021-03-23 17:43] stevkan commented on #336
Hi @kushalbhabra, I am unable to repro the issue using the code you provided.

- What client are you using for communicating with the bot?
- What type of attachment are you trying to send?
- And, is there a particular point in the dialog that the attachment is being sent or is it any time?
- What version of Node do you have installed?
- Does this occur for you if you upgrade the BotBuilder package

[2021-03-25 21:54] craigjensen commented on #338
Fix has been released worldwide.  Please reopen if you continue to see this issue

[2021-03-25 21:54] #338 closed

[2021-03-26 17:27] carlosscastro commented on #255
@compulim @cwhitten is this on track to release in R13?

[2021-03-30 17:37] stevkan commented on #336
Closing due to inactivity.

[2021-04-07 12:01] viktorspasevski opened #341 "Problem creating new object of new DirectLine and throwing error not implemented"
Hello,

I have instaled `botframework-directlinejs` version `0.14.1` and while importing in my React Native application and instantiate the object `new DirectLine` I experienced this error: `Error not implemented` and after every refresh, I got this message in my terminal `Invariant violation: module AppRegistry is not a registered callable module (calling runapplication)`
I don't have a problem w

[2021-04-08 20:34] v-kydela commented on #341
Thank you for the report, @viktorspasevski

Can you provide repro steps and a stack trace?

[2021-04-08 21:05] viktorspasevski commented on #341
[code]
![image](https://user-images.githubusercontent.com/47276729/114096255-c6b6a980-98be-11eb-9bcb-12686a5e7b64.png)

This is the code and the error received when I imported the lib

[2021-04-08 21:08] v-kydela commented on #341
@viktorspasevski - Thank you. May I have some repro steps please?

[2021-04-08 21:35] viktorspasevski commented on #341
I can suggest these repro steps (not special)

- Get the above code that I mentioned
- Paste in your file
- Save the file
- Reload the applcation
- The error will poped up in the terminal and/or red screen on the emulator/phone

[2021-04-08 21:50] v-kydela commented on #341
@viktorspasevski - I'm sorry, but I don't think those repro steps will be adequate. You mention reloading an application but you haven't mentioned creating an application. I'm looking for the kind of detailed repro steps that involve starting from scratch, since creating a React Native app is outside the scope of this repo. Please feel free to link to external instructions so long as you're clear

[2021-04-08 21:55] viktorspasevski commented on #341
I am so sorry about that. I followed this example (https://blog.expo.io/so-you-want-to-build-a-chat-app-with-react-native-expo-and-microsofts-bot-framework-4d2327f76ce3) and I got the error that I forwarded to you

[2021-04-08 23:54] v-kydela commented on #341
@viktorspasevski - Those instructions look outdated in a few ways. The instructions ask you to use the Expo XDE, though there is no longer an Expo XDE. Were you able to follow the instructions as written, or did you have to modify them?

[2021-04-14 18:20] MichaelHaydenAtMicrosoft opened #344 "Sample for BotFramework-DirectLineJS with Angular"
# Please view our [Technical Support Guide](https://github.com/microsoft/BotFramework-WebChat/tree/master/docs/TECHNICAL_SUPPORT_GUIDE.md) before filing a new issue.

## Screenshots

## Version

## Describe the bug

Customer statement
We have created a bot service with Direct line channel and trying to use BotFramework-DirectLineJS with Angular to create a custom chat client. We did not find any e

[2021-04-14 21:45] v-kydela commented on #341
@viktorspasevski - Are you still working on this?

[2021-04-16 18:13] v-kydela commented on #341
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2021-04-16 18:13] #341 closed

[2021-04-21 21:20] stevkan commented on #344
There is no Angular + DirectLineJS sample, at this point, and it is unlikely one will be created going forward.

However, attached is a sample that demonstrates how to use Direct Line in a pure HTML environment. It should provide enough information on how Direct Line could be set up in an Angular project for building a custom chat interface.

This sample also demonstrates how to handle expiring/re

[2021-04-21 21:20] #344 closed

[2021-06-08 18:21] #32 closed

[2021-06-08 18:23] #174 closed

[2021-06-08 23:13] cleemullins commented on #166
@Keyan-Wang It looks like this slipped through our daily triage process. Were you able to get resolution on this? If not, I'll close this out next week.

[2021-06-09 02:39] Keyan-Wang commented on #166
yes,  I've solved it~ please close it. Thanks. @cleemullins

[2021-06-09 02:39] #166 closed

[2021-07-15 22:26] christopherjbaker opened #349 "Update cross-fetch dependency to remove vulnerabilities."
The version of cross-fetch currently in use (v3.0.4) which exposes a [DoS vulnerability](https://snyk.io/vuln/SNYK-JS-NODEFETCH-674311). v3.1.0 and later (current is v3.1.2) have a node-fetch dependency that resolves this issue.

[2021-07-20 11:01] compulim commented on #349
Thanks, we will bump it soon.

We just finished our last release and now in the work of bumping dependencies.

[2021-07-20 12:54] NicholasWilliamFreeman commented on #349
you all are the best and you know wht to do. wish i could be more help pls do whatever you need to im still homeless and dealing with stupid ppl taking my stuff and blah blah

________________________________
From: William Wong ***@***.***>
Sent: Tuesday, July 20, 2021 5:01 AM
To: microsoft/BotFramework-DirectLineJS ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [microsoft/BotFramework-Dire

[2021-07-28 23:27] compulim commented on #349
Still working on it but it's almost there, look at #351.

At least for now, `npm audit` say 0 vulnerabilities. 😉

[2021-07-29 17:46] #349 closed

[2021-08-30 22:14] kaust-technovert opened #352 "Conversation Start Properties not being passed to the PVA Bot"
I am passing a variable while creating the DirectLine object that I am using for my Power Virtual Agent
![image](https://user-images.githubusercontent.com/86673833/131412204-625d8afc-aefd-4a6f-a5e6-b133b8ba9acf.png)

Like this.

However, when I am trying to access this variable in the bot topic, I am unable to.
![image](https://user-images.githubusercontent.com/86673833/131412834-46557bf1-30d9-408

[2021-08-31 20:39] stevengum commented on #352
@kaust-technovert are you using Web Chat or are you directly using Direct Line JS in your client?

The ConversationStartProperties have a specific shape for the Start Conversation API, so it might be that what you're trying to achieve is not possible via this approach.

If you are using Web Chat, I recommend checking this sample: [04.api/a.welcome-event](https://github.com/microsoft/BotFramework-W

[2021-09-01 07:57] kaust-technovert commented on #352
I am using DirectLineJS directly in my client, and there is also some custom implementation which I cannot mess with. So I cannot use WebChat.
Is there any example for passing ConversationStartProperties to the bot and be able to use it?

[2021-09-02 02:19] lfgonzalez10 opened #354 "DirectLine NodeJs - Duplicate Activity from bot"
I am consuming the bot from Node JS Direct Line,
I have the problem that I send an activity and the bot responds to me with duplicate activities (each duplicate activity has the same Conversation Id)

USER message 1
BOT message 1
USER message 2
BOT message 2
BOT message 2
USER message 3
BOT message 3
BOT message 3
BOT message 3
....

When is new conversation
directLine = new DirectLine ({

[2021-09-03 09:19] stevkan commented on #354
It is expected that each duplicate activity would have the same conversation Id since they all ought to be stemming from the same conversation. However, can you verify that the duplicates have the same activity Id (I would be surprised if the activity Ids were different)?

Also, can you include the code, if any, that you have in the `.subscribe()` part of the `activity$` observer?

You can also re

[2021-09-10 22:58] stevkan commented on #354
Closing as resolved.

[2021-09-10 22:58] #354 closed

[2021-09-13 18:11] srinaath commented on #352
@stevengum Are you aware of any way to pass ConversationStartProperties?

[2021-09-20 15:45] xtianus79 commented on #101
@compulim this is still an issue

[2021-09-20 18:00] compulim commented on #352
@zhipeng should know more about this topic.

[2021-09-22 02:02] timenick commented on #352
@kaust-technovert like Steven said "The ConversationStartProperties have a specific shape for the Start Conversation API, so it might be that what you're trying to achieve is not possible via this approach."  We do not support passing customized parameters and value for now.

[2021-10-04 18:24] munozemilio commented on #352
Closing as not supported

[2021-10-04 18:24] #352 closed

[2021-12-10 22:17] upul opened #363 "Restart Conversation After 24 Hours"
Hi everyone,

we are developing an application that uses botframework SDK(version 4.11) python framework. We need the chat to reconnect to an incomplete conversation (the user can leave and reconnect to it after a few days). Currently, we are using Cosmos DB to persist the user-profile as well as state management as well as storing conversationIds in DB, instead of in-memory and a webchat in the f

[2021-12-14 01:50] stevkan commented on #363
@upul, There are two ways that this can potentially be achieved. I say 'potentially' as the proposed options are relying on earlier versions of the SDK. As such, some classes and/or methods may have changed and will require updating code to current implementations. Doing so _may_ result in a breaking change.

- Option 1: This [sample](https://github.com/EricDahlvang/BotBuilder-Samples/tree/eric/no

[2021-12-28 23:18] stevkan commented on #363
Closing due to lack of response.

[2021-12-28 23:20] #363 closed

[2022-05-10 07:47] fatemekarami commented on #341
I have a similar problem and my native modules become completely uncomfortable after adding this library and I still could not solve it.

[2022-05-10 08:11] fatemekarami commented on #331
I have a same problem

[2022-05-10 14:13] iamhaaamed opened #372 "subscribe not working when using react-query"

[2022-05-10 14:18] iamhaaamed opened #373 "subscribe not working when using react-query"
I want to use BotFramework in a react-native project that using react-query for fetching data, but if I call any queries with the react-query, the subscribe method of BotFramework stopped working and when I remove the queries it is working:
[code]

[2022-05-12 17:24] ryanlengel commented on #372
duplicate of #373

[2022-05-12 17:24] #372 closed

[2022-05-13 17:52] stevkan commented on #373
@iamhaaamed, can you verify that the react-query call using Axios functions correctly. Is it possible that the call is successful but the data being returned is not?

Also, which subscribe is failing? The one in the `useEffect()` or the one in the `Button`?

[2022-05-13 18:19] iamhaaamed commented on #373
I have checked the axios call and it has no issue.
The subscribe in the useEffect() is failing.
This is my example:
[https://snack.expo.dev/@iamhaamed/ashamed-truffles](https://snack.expo.dev/@iamhaamed/ashamed-truffles)

[2022-06-13 18:12] stevkan commented on #373
Closing due to lack of response.

[2022-07-06 16:11] vadimceb commented on #260
Any news? Two years later and still have this error.
Deployed the bot with latest BotFrameworkComposer and updated this package.
By the way, when using the emulator the bot responds correctly

[2022-09-08 15:17] microsoft-github-policy-service[bot] opened #377 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-09-09 18:36] #377 closed

[2022-09-26 16:27] karinaSC opened #378 "Automated Tests With BotFramework-DirectLineJS"
Hello guys.

I have a bot that uses the hotline, and I would like to know if with this package (https://github.com/microsoft/BotFramework-DirectLineJS)   I can write an automated one? if yes, where to enter my hotline secret information to communicate with my bot?

Thank you

[2022-09-26 21:12] stevkan commented on #378
@karinaSC - I am unfamiliar with Hotline or its uses, so I can't advise you on whether it can be used with DirectLineJS or not. Can you provide a link to this product?

What I can say is DirectLineJS is used specifically for building client applications with the purpose of connecting a chat interface with a BotFramework built bot. The only credentials it takes is for establishing a connection with

[2022-09-26 22:47] karinaSC commented on #378
sorry @stevkan stevkan i meant "directLine" not Hotline.

what I would like to know, is where I enter my DirectLine secret here in this package, so I can start talking to the bot and running tests. Its possible?

[2022-09-27 23:03] stevkan commented on #378
Have you looked over the DirectLineJS README.md file? If not, the instructions are there on [how to create](https://github.com/microsoft/BotFramework-DirectLineJS#create-a-directline-object) a DirectLine object and what properties need to be passed into it.

Unless I'm much mistaken, I believe that is what you are looking for. Does that help?

[2022-09-28 13:48] karinaSC commented on #378
Yes, but see how I'm using the directline object.

When running it returns nothing.

<img width="695" alt="image" src="https://user-images.githubusercontent.com/55152325/192795864-d8a55ace-c7ff-453b-8661-ea5049d1d524.png">

[2022-09-28 18:04] stevkan commented on #378
A few things to check that may be interfering:

- Be sure you have your bot running. Whether it is in the cloud or you are running it locally and are using a tunneling service (ngrok, for example) to connect it to your Azure Bot Service bot resource.
- Be sure you have the DirectLine channel enabled in the Channels blade in your Azure bot resource. Also, to start, be sure you have "Enhanced authen

[2022-10-06 15:57] stevkan commented on #378
Closing due to inactivity.

[2022-10-06 15:57] #378 closed

[2022-10-17 08:28] yaqinbai opened #379 "Whether to support the wechat mini program"
Whether to support the wechat mini program

[2022-10-17 18:11] tracyboehrer commented on #379
There is a WeChat channel in Azure Bot Service.  It would be possible to use a custom adapter.  As reference, there is the DotNot sample demonstrating this:  https://github.com/microsoft/BotFramework-WeChat/

That repo has not been updated in some time, so it is unknown if it is current enough.

[2022-10-17 18:11] #379 closed

[2022-10-20 11:51] karinaSC opened #380 "Hello, how to send by directline, the ID of my QA environment?"
Hello,

I'm using directline to test my chatBot, I need to direct the tests to the QA environment, which has an id. how do i send this by directline?

Thanks

[2022-10-20 18:04] stevkan commented on #380
I see you have posted this [question](https://stackoverflow.com/questions/74140329) on Stack Overflow. I will attempt to help you there.

For future reference, please see the below.

-------------------------

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework-DirectLine

[2022-10-20 18:04] #380 closed, assigned to stevkan

[2022-10-20 20:30] karinaSC commented on #380
hi @stevkan

I await your help.

Thanks

[2022-11-14 12:52] orgads commented on #182
Do you have a planned schedule for removing this dependency?

[2022-11-22 19:08] Bmastaz opened #382 "Please create an Offline DirectLine Emulation that is supported by Microsoft."
If you have industry standards that prohibit Ngrok this can make debugging a nightmare.

The Bot Framework Emulator has a built in Direct Line emulator. Why is this not open source for use with webchat? There are a few brave souls who have attempted to build emulators however both do not support Direct Line App Service Extensions and WebSocket.

Before I begin the journey to provide a solution jus